.side-bar {
  flex: 1;
  position: fixed;
  width: 20%;
  height: 96%;
  padding: 1rem;
  text-align: center;
  margin: 2%;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.nav-buttons button {
  margin: 0 0;
  background-color: var(--secondary-color);
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.2em 0.1rem;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}


.content {
  flex: 2;
  width: 80%;
  padding: 5rem 0 0 0;
  margin: 3% 3% 3% 25%;
  background-color: var(--secondary-color);
  border-radius: 20px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1px;
  border: solid 1px var(--primary-color);
  background-color: var(--tiertiary-color);
}

.task-card button {
  margin: 1rem 0.5rem;
  background-color: var(--primary-color);
  border: none;
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.task-list {
  margin-top: 2rem;
}

textarea {
  resize: none;
  width: 80%;
}

#new-task {
  margin: 0 5%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}