.content {
  flex: 2;
  width: 80%;
  padding: 5rem 0 0 0;
  margin: 3% 3% 3% 25%;
  background-color: var(--secondary-color);
  border: solid 1px #000000;
  border-radius: 20px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1px 50px 1px 50px;
  border: solid 1px #000000;
  background-color: var(--tiertiary-color);
}

.task-card button {
  margin: 0rem 0.5rem;
  background-color: var(--primary-color);
  border: none;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}

.task-list {
  margin-top: 2rem;
}

.task-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}

.task-card-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: left;
  padding: 1rem;
}

.task-card-tag {
  background-color: var(--secondary-color);
  border: solid 1px #000000;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

.add-task {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.add-task button {
  background-color: var(--primary-color);
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 80%;
  border: none;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}