:root {
    --primary-color: #38c1c8;
    --secondary-color: #2348ff;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
}