:root {
    --primary-color: hsl(0, 0%, 38%);
    --secondary-color: #b9b9b9;
    --tiertiary-color: rgb(110, 110, 110);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
}