:root {
    --primary-color: #b9efff;
    --secondary-color: #d6fffd;
    --tiertiary-color: #e3fbfd;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
}