:root {
    --primary-color: #fffee0;
    --secondary-color: #fffdbe;
    --tiertiary-color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
}